
@{
    ViewData["Title"] = "Home Page";
}
@{
    var listOfPerson = new List<Person>();
    
    @* listOfPerson.Add(new Person("Jomiel", 26));
    listOfPerson.Add(new Person("Frank", 22));
    listOfPerson.Add(new Person("Ronald", 25));
    listOfPerson.Add(new Person("Mico", 65));
    listOfPerson.Add(new Person("Fernando", 69));
    listOfPerson.Add(new Person("Maki", 16));
    listOfPerson.Add(new Person("Jeffrey", 16));
    listOfPerson.Add(new Person("Franz", 1)); *@
}
<table class="table table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <td>Age</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var person in listOfPerson){
                <tr>
                    <td>@person.Name</td>
                    <td>@person.Age</td>
                </tr>
            }
        }
    </tbody>
</table>